In [34]:
import yfinance as yf
import pandas as pd

In [35]:
data=yf.download("KO",start="2019-01-01",end="2021-03-31",auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [36]:
data.head()

                 Open       High        Low      Close    Volume
Date
2018-12-31  42.513103  42.557862  42.038644  42.387772  10576300
2019-01-02  42.020738  42.271397  41.680564  42.011787  11603700
2019-01-03  41.913315  42.405675  41.653706  41.752178  14714400
2019-01-04  41.850656  42.584721  41.752183  42.584721  13013700
2019-01-07  42.584717  42.745854  41.984934  42.029694  13135500

In [39]:
btc=pd.read_csv("BTC-USD.csv",index_col=0)

In [40]:
btc.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [44]:
btc['Date']=pd.to_datetime(btc['Date'])

In [45]:
btc['Date'].info()

<class 'pandas.core.series.Series'>
Index: 2876 entries, 2014-09-17 to 2022-08-01
Series name: Date
Non-Null Count  Dtype
--------------  -----
2876 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 44.9+ KB